/*重置样式*/
@import url('normalize.css?__inline');

/* @import url('test.css?__inline'); */

html,body {
    width: 100%;
    font-family: "microsoft yahei",Tahoma,Verdana,Arial,Helvetica,"宋体",sans-serif;
    font-size: 12px;
    color: #fff;
    height: 100%;
    line-height: 1.5
}

body {
    padding: 0;
    margin: 0 auto;
}
ul,li,dl,dt,dd {
    margin: 0;
    padding: 0;
    list-style: none
}


.text-center {
    text-align: center
}


.fr {
    float: right
}

.fl {
    float: left
}

.clearfix {
    clear: both
}
.ib {
    display: inline-block;
}

.hidden-val {
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.hide {
    display: none
}

/*切屏动画*/
@import url('scroller.css?__inline');

/*媒体查询*/
@import url('media.css?__inline');