/*重置样式*/
@import url('normalize.css?__inline');

/* @import url('test.css?__inline'); */


 body, canvas, div {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* -webkit-user-modify有个副作用，就是输入法不再能够输入多个字符
    	另外，有些机型去除不了，如小米2
    	对于按钮类还有个办法，不使用a或者input标签，直接用div标签 */
    -webkit-user-modify:read-write-plaintext-only;
}

/* webkit表单元素的默认外观怎么重置 */
.css{-webkit-appearance:none;}
/* webkit表单输入框placeholder的颜色值能改变么 */
input::-webkit-input-placeholder{color:#AAAAAA;}
input:focus::-webkit-input-placeholder{color:#EEEEEE;}


html,body {
    width: 100%;
    /* 移动端定义字体的代码 */
    font-family:Helvetica;
    font-size: 12px;
    color: #fff;
    height: 100%;
    line-height: 1.5
}

body {
    padding: 0;
    margin: 0 auto;
}
ul,li,dl,dt,dd {
    margin: 0;
    padding: 0;
    list-style: none
}

.text-center {
    text-align: center
}


.fr {
    float: right
}

.fl {
    float: left
}

.clearfix {
    clear: both
}
.ib {
    display: inline-block;
}

.hidden-val {
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.hide {
    display: none
}

a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
}

/*切屏动画*/
@import url('scroller.css?__inline');

/*媒体查询*/
@import url('media.css?__inline');