html,body {
    width: 100%;
    font-family: "microsoft yahei",Tahoma,Verdana,Arial,Helvetica,"宋体",sans-serif;
    font-size: 12px;
    color: #fff;
    height: 100%;
    line-height: 1.5
}

body {
    padding: 0;
    margin: 0 auto
}

ul,li,dl,dt,dd {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    color: #333;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

.content {
    height: 100%;
    overflow: hidden
}

.content .wrapper {
    height: 100%
}

.text-center {
    text-align: center
}

.ib {
    display: inline-block
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.clearfix {
    clear: both
}

.w1000 {
    width: 1003px
}

.hidden-val {
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px
}

.hide {
    display: none
}

.btn {
    line-height: 1.628;
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: 0 none
}

.btn-lg {
    padding: 11px 0;
    width: 462px;
    font-size: 21px
}

.btn-default {
    background: #ffffff;
    color: #2185f3
}

.air-plan {
}

.input {
    line-height: 1.428;
    text-align: left
}

.input-lg {
    padding: 13px 0;
    width: 430px;
    padding-left: 30px;
    margin-bottom: 20px
}

.input-default {
    border: 1px solid white;
    border-radius: 5px;
    background: none;
    color: white;
    margin-bottom: 20px
}

.input-default::-webkit-input-placeholder {
    color: white
}

.input-default:-moz-placeholder {
    color: white
}

@-webkit-keyframes ballon-01 {
    0%,100%,60%,75%,90% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        -webkit-transform: translate3d(0px,0,0);
        transform: translate3d(0,0,0)
    }

    50% {
        -webkit-transform: translate3d(80px,0,0);
        transform: translate3d(80px,0,0)
    }

    100% {
        -webkit-transform: translate3d(0px,0,0);
        transform: translate3d(0,0,0)
    }
}

@-webkit-keyframes cloud {
    0%,100%,60%,75%,90% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        -webkit-transform: translate3d(0px,0,0);
        transform: translate3d(0,0,0)
    }

    50% {
        -webkit-transform: translate3d(100px,0,0);
        transform: translate3d(100px,0,0)
    }

    100% {
        -webkit-transform: translate3d(0px,0,0);
        transform: translate3d(0,0,0)
    }
}

@-webkit-keyframes cloud-02 {
    0%,100%,60%,75%,90% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        -webkit-transform: translate3d(0px,0,0);
        transform: translate3d(0,0,0)
    }

    50% {
        -webkit-transform: translate3d(30px,0,0);
        transform: translate3d(30px,0,0)
    }

    100% {
        -webkit-transform: translate3d(0px,0,0);
        transform: translate3d(0,0,0)
    }
}

@-webkit-keyframes tile-y {
    0% {
        transform: translateY(32%)
    }

    100% {
        transform: translateY(0%)
    }
}

@keyframes tile-y {
    0% {
        height: 0%
    }

    100% {
        height: 32%
    }
}

@-webkit-keyframes tile {
    0% {
        opacity: 0;
        width: 0%
    }

    100% {
        opacity: 1;
        width: 100%
    }
}

@keyframes tile {
    0% {
        opacity: 0;
        width: 0%
    }

    100% {
        opacity: 1;
        width: 100%
    }
}

@-webkit-keyframes fanzhi-zx {
    0% {
        opacity: 0;
        -webkit-transform: translateY(300px) scale(0.6);
        transform: translateY(300px) scale(0.6)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0px) scale(1);
        transform: translateY(0px) scale(1)
    }
}

@keyframes fanzhi-zx {
    0% {
        opacity: 0;
        transform: translateY(300px) scale(0.6)
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1)
    }
}

@-webkit-keyframes fanzhi {
    0% {
        opacity: 1;
        -webkit-transform: translateY(300px) scale(0.6);
        transform: translateY(300px) scale(0.6)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0px) scale(1);
        transform: translateY(0px) scale(1)
    }
}

@keyframes fanzhi {
    0% {
        opacity: 1;
        transform: translateY(300px) scale(0.6)
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1)
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes blink {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes blink2 {
    0% {
        opacity: 0
    }

    60% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-moz-keyframes blink2 {
    0% {
        opacity: 0
    }

    60% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-ms-keyframes blink2 {
    0% {
        opacity: 0
    }

    60% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes blink2 {
    0% {
        opacity: 0
    }

    60% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes rotate360 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes rotate360 {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-ms-keyframes rotate360 {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes arrowUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }

    40% {
        opacity: 1;
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px)
    }
}

@-moz-keyframes arrowUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }

    40% {
        opacity: 1;
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px)
    }
}

@-ms-keyframes arrowUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }

    40% {
        opacity: 1;
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px)
    }
}

@keyframes arrowUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }

    40% {
        opacity: 1;
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px)
    }
}

@-webkit-keyframes arrowDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        opacity: 1
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }
}

@-moz-keyframes arrowDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        opacity: 1
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(5px);
        transform: translateY(5px)
    }
}

@-ms-keyframes arrowDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        opacity: 1
    }

    100% {
        opacity: 0;
        -ms-transform: translateY(5px);
        transform: translateY(5px)
    }
}

@keyframes arrowDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }

    40% {
        opacity: 1;
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px)
    }
}

@-webkit-keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%)
    }

    80% {
        opacity: 1;
        -webkit-transform: translateY(5%);
        transform: translateY(5%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-moz-keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%)
    }

    80% {
        opacity: 1;
        -webkit-transform: translateY(5%);
        transform: translateY(5%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-ms-keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%)
    }

    80% {
        opacity: 1;
        -webkit-transform: translateY(5%);
        transform: translateY(5%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%)
    }

    80% {
        opacity: 1;
        -webkit-transform: translateY(5%);
        transform: translateY(5%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-220px)
    }

    50% {
        -webkit-transform: translateY(0px)
    }

    70% {
        -webkit-transform: translateY(-20px)
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1
    }
}

@-moz-keyframes bounceInDown {
    0% {
        -webkit-transform: translateY(-220px);
        opacity: 0
    }

    50% {
        -webkit-transform: translateY(0px)
    }

    70% {
        -webkit-transform: translateY(-20px)
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1
    }
}

@-ms-keyframes bounceInDown {
    0% {
        -webkit-transform: translateY(-220px);
        opacity: 0
    }

    50% {
        -webkit-transform: translateY(0px)
    }

    70% {
        -webkit-transform: translateY(-20px)
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1
    }
}

@keyframes bounceInDown {
    0% {
        -webkit-transform: translateY(-220px);
        opacity: 0
    }

    50% {
        -webkit-transform: translateY(0px)
    }

    70% {
        -webkit-transform: translateY(-20px)
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes bounceInRight {
    0%,100%,60%,75%,90% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px,0,0);
        transform: translate3d(3000px,0,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px,0,0);
        transform: translate3d(-25px,0,0)
    }

    75% {
        -webkit-transform: translate3d(10px,0,0);
        transform: translate3d(10px,0,0)
    }

    90% {
        -webkit-transform: translate3d(-5px,0,0);
        transform: translate3d(-5px,0,0)
    }

    100% {
        opacity: 1
    }
}

@keyframes bounceInRight {
    0%,100%,60%,75%,90% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px,0,0);
        -ms-transform: translate3d(3000px,0,0);
        transform: translate3d(3000px,0,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px,0,0);
        -ms-transform: translate3d(-25px,0,0);
        transform: translate3d(-25px,0,0)
    }

    75% {
        -webkit-transform: translate3d(10px,0,0);
        -ms-transform: translate3d(10px,0,0);
        transform: translate3d(10px,0,0)
    }

    90% {
        -webkit-transform: translate3d(-5px,0,0);
        -ms-transform: translate3d(-5px,0,0);
        transform: translate3d(-5px,0,0)
    }

    100% {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

@keyframes bounceInLeft {
    0%,60%,75%,90%,100% {
        -webkit-transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px,0,0);
        transform: translate3d(-3000px,0,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px,0,0);
        transform: translate3d(25px,0,0)
    }

    75% {
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0)
    }

    90% {
        -webkit-transform: translate3d(5px,0,0);
        transform: translate3d(5px,0,0)
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes bounceInLeft {
    0%,60%,75%,90%,100% {
        -webkit-transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px,0,0);
        transform: translate3d(-3000px,0,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px,0,0);
        transform: translate3d(25px,0,0)
    }

    75% {
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0)
    }

    90% {
        -webkit-transform: translate3d(5px,0,0);
        transform: translate3d(5px,0,0)
    }

    100% {
        opacity: 1
    }
}

@keyframes disperse {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

@-webkit-keyframes disperse_i {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.1)
    }
}

@-moz-keyframes disperse_i {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.1)
    }
}

@-ms-keyframes disperse_i {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.1)
    }
}

@keyframes disperse_i {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.1)
    }
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(2.3);
        -ms-transform: scale(2.3);
        transform: scale(2.3)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05)
    }

    70% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@-moz-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(2.3);
        -ms-transform: scale(2.3);
        transform: scale(2.3)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05)
    }

    70% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@-ms-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(2.3);
        -ms-transform: scale(2.3);
        transform: scale(2.3)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05)
    }

    70% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(2.3);
        -ms-transform: scale(2.3);
        transform: scale(2.3)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05)
    }

    70% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

.an-util-forwards {
    -webkit-animation-fill-mode: forwards !important;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.an-util-allwards {
    -webkit-animation-fill-mode: both !important;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

.an-util-backwards {
    -webkit-animation-fill-mode: backwards !important;
    ;-moz-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    animation-fill-mode: backwards
}

.d3 {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.backface {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000
}

.screen01-text {
    opacity: 0;
    -webkit-animation: bounceInDown 0.6s linear 0.1s;
    animation: bounceInDown 0.6s linear 0.1s
}

.btn-dowload {
    opacity: 0;
    -webkit-animation: bounceIn 0.3s linear 0.8s;
    aanimation: bounceIn 0.3s linear 0.8s
}

.logo-all {
    opacity: 0;
    -webkit-animation: bounceIn 0.3s linear 1.2s;
    animation: bounceIn 0.3s linear 1.2s
}

.start-03-1 {
    opacity: 0;
    -webkit-animation: blink2 1s linear 0.8s infinite
}

.star-01-1 {
    opacity: 0;
    -webkit-animation: blink2 3s linear 2s infinite
}

.star-03-2 {
    opacity: 0;
    -webkit-animation: blink2 2s linear 1.2s infinite
}

.star-02-1 {
    opacity: 0;
    -webkit-animation: blink2 2.3s linear 1.5s infinite
}

.star-02-2 {
    opacity: 0;
    -webkit-animation: blink2 1s linear 0.4s infinite
}

.star-02-3 {
    opacity: 0;
    -webkit-animation: blink2 3s linear 1s infinite
}

.star-02-4 {
    opacity: 0;
    -webkit-animation: blink2 2s linear 1.2s infinite
}

.iphone-mobile {
    -webkit-animation: bounceInLeft 1s ease 0.5s;
    animation: bounceInLeft 1s ease 0.5s
}

.screen02-text {
    -webkit-animation: bounceIn 0.3s linear 1.2s;
    animation: bounceIn 0.3s linear 1.2s
}

.bottom-screen {
    opacity: 0;
    -webkit-animation: bounceInUp 0.3s linear 0.2s
}

.screen03-text {
    -webkit-animation: bounceIn 0.3s linear 1.8s;
    animation: bounceIn 0.3s linear 1.8s
}

.sun {
    -webkit-animation: rotate360 7s linear 0s infinite;
    -moz-animation: rotate360 7s linear 0s infinite;
    -ms-animation: rotate360 7s linear 0s infinite;
    animation: rotate360 7s linear 0s infinite
}

.right-cloud {
    -webkit-animation: cloud-02 10s ease-in 0s infinite
}

.left-cloud {
    -webkit-animation: cloud 15s ease-in 0s infinite
}

.book {
    opacity: 0;
    -webkit-animation: fanzhi 0.4s linear 0.6s
}

.earth-wrap {
    opacity: 0;
    -webkit-animation: fanzhi 0.4s linear 0.9s
}

.big-house {
    opacity: 0;
    -webkit-animation: fanzhi 0.4s linear 1.2s
}

.blink-01 {
    -webkit-animation: blink 1s linear 1.2s infinite;
    -moz-animation: blink 1s linear 1.2s infinite;
    -ms-animation: blink 1s linear 1.2s infinite;
    animation: blink 1s linear 1.2s infinite
}

.blink-02 {
    -webkit-animation: blink 1s linear 0.8s infinite;
    -moz-animation: blink 1s linear 0.8s infinite;
    -ms-animation: blink 1s linear 0.8s infinite;
    animation: blink 1s linear 0.8s infinite
}

.blink-03 {
    -webkit-animation: blink 1s linear 0 infinite;
    -moz-animation: blink 1s linear 0 infinite;
    -ms-animation: blink 1s linear 0 infinite;
    animation: blink 1s linear 0 infinite
}

.blink-04 {
    -webkit-animation: blink 1s linear 0.5s infinite;
    -moz-animation: blink 1s linear 0.5s infinite;
    -ms-animation: blink 1s linear 0.5s infinite;
    animation: blink 1s linear 0.5s infinite
}

.table-rt {
    -webkit-animation: bounceIn 0.3s ease-in 0.2s
}

.table-ft {
    -webkit-animation: bounceIn 0.3s ease-in 0.2s
}

.people-wo {
    -webkit-animation: bounceInRight 1s ease 0.5s 1;
    -moz-animation: bounceInRight 1s ease 0.8s -ms-animation:bounceInRight 1s ease 1 0.8s animation:bounceInRight 1s ease 0.8s
}

.people-man {
    -webkit-animation: bounceInLeft 1s ease 0.5s;
    -moz-animation: bounceInLeft 1s ease 0.8s -ms-animation:bounceInLeft 1s ease 0.8s animation:bounceInLeft 1s ease 0.8s
}

.screen04-text {
    -webkit-animation: bounceIn 0.3s ease-in 1.5s;
    -moz-animation: bounceIn 0.3s ease-in 2s;
    -ms-animation: bounceIn 0.3s ease-in 2;
    animation: bounceIn 0.3s ease-in 2s
}

.ballon {
    -webkit-animation: ballon-01 10s ease-in 0s infinite
}

.bootomInUp {
    -webkit-animation: bounceInUp 0.5s linear 0.8s;
    -moz-animation: bounceInUp 0.5s linear 0.3s;
    -ms-animation: bounceInUp 0.5s linear 0.3s;
    animation: bounceInUp 0.5s linear 0.3s
}

.m-road.tile {
    -webkit-animation: tile 0.5s linear 0.5s;
    animation: tile 0.5s linear 0.5s
}

.bank {
    -webkit-animation: bounceInLeft 0.7s linear 1.4s;
    animation: bounceInLeft 0.7s linear 1.4s
}

.mon {
    -webkit-animation: fanzhi 0.4s linear 0.9s;
    animation: fanzhi 0.4s linear 0.9s
}

.line.tile {
    -webkit-animation: tile 0.5s linear 0.5s;
    animation: tile 0.5s linear 0.5s
}

.car {
    -webkit-animation: bounceInRight 4s ease 1s;
    animation: bounceInRight 4s ease 1s
}

.shanche {
    -webkit-animation: bounceInRight 0.7s ease-in 1.8s;
    animation: bounceInRight 0.7s ease-in 1.8s
}

.deng {
    opacity: 0;
    -webkit-animation: blink 1s linear 4.8s infinite;
    -moz-animation: blink 1s linear 4.8s infinite;
    -ms-animation: blink 1s linear 4.8s infinite;
    animation: blink 1s linear 4.8s infinite
}

.yan {
    opacity: 0;
    -webkit-animation: blink2 1.8s linear 2s infinite;
    -moz-animation: blink 1s linear 4s infinite;
    -ms-animation: blink 1s linear 4s infinite;
    animation: blink 1s linear 4s infinite
}

.screen05-text {
    -webkit-animation: bounceInDown 0.6s linear 4.5s;
    -moz-animation: bounceInDown 0.6s linear 4.5s;
    -ms-animation: bounceInDown 0.6s linear 4.5s;
    animation: bounceInDown 0.6s linear 4.5s
}

.arrowDown {
    -webkit-animation: arrowDown 1.2s ease-in 0s infinite;
    -moz-animation: arrowDown 1.2s ease-in 0s infinite;
    -ms-animation: arrowDown 1.2s ease-in 0s infinite;
    animation: arrowDown 1.2s ease-in 0s infinite
}

.arrowUp {
    -webkit-animation: arrowUp 1.2s ease-in 0s infinite;
    -moz-animation: arrowUp 1.2s ease-in 0s infinite;
    -ms-animation: arrowUp 1.2s ease-in 0s infinite;
    animation: arrowUp 1.2s ease-in 0s infinite
}

.an-util-forwards {
    -webkit-animation-fill-mode: forwards !important;
    -moz-animation-fill-mode: forwards !important;
    -o-animation-fill-mode: forwards !important;
    animation-fill-mode: forwards !important
}

.an-util-both {
    -webkit-animation-fill-mode: both !important;
    -moz-animation-fill-mode: both !important;
    -o-animation-fill-mode: both !important;
    animation-fill-mode: both !important
}

.an-util-backwards {
    -webkit-animation-fill-mode: backwards !important;
    ;-moz-animation-fill-mode: backwards !important;
    -o-animation-fill-mode: backwards !important;
    animation-fill-mode: backwards !important
}

.d3 {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.backface {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000
}

* {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0)
}

input,textarea {
    -webkit-user-select: text
}

.screen-all {
    height: 100%;
    width: 100%;
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    position: absolute;
    left: 0px;
    top: 0;
    right: 0;
    bottom: 0
}

.screen {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%
}

.screen .main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative
}

#screen0 {
    background: #0e79ef
}

#screen1 {
    background: #fbc89e
}

#screen1 .bottom-screen {
    background: #e57113
}

#screen2 {
    background: #53bcf3
}

#screen2 .bottom-screen {
    background: #53bcf3
}

#screen3 {
    background: #9a2ace
}

#screen4 {
    background: #dfba99
}

.screen01-text {
    background-image: url("../../images/mobile/screen-01-text.png");
    background-size: 255px 120px;
    background-repeat: no-repeat;
    width: 255px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 6%;
    margin-left: -127px
}

.screen02-text {
    background-image: url("../../images/mobile/screen-02-text.png");
    background-size: 182.5px 65px;
    background-repeat: no-repeat;
    width: 182.5px;
    height: 65px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -32.5px;
    margin-left: -92px
}

.screen03-text {
    background-image: url("../../images/mobile/screen-03-text.png");
    background-size: 206px 69px;
    background-repeat: no-repeat;
    width: 206px;
    height: 69px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -32.5px;
    margin-left: -103px
}

.screen04-text {
    background-image: url("../../images/mobile/screen-04-text.png");
    background-size: 206px 69px;
    background-repeat: no-repeat;
    width: 206px;
    height: 69px;
    position: absolute;
    left: 50%;
    top: 13%;
    margin-left: -103px
}

.screen05-text {
    background-image: url("../../images/mobile/screen-05-text.png");
    background-size: 190px 76px;
    background-repeat: no-repeat;
    width: 190px;
    height: 76px;
    position: absolute;
    left: 50%;
    top: 6%;
    margin-left: -95px
}

.top-screen {
    height: 68%;
    position: absolute;
    width: 100%
}

.bottom-screen {
    height: 32%;
    position: absolute;
    bottom: 0px;
    width: 100%
}

.icon {
    background-image: url("../../images/mobile/icon.png");
    background-size: 64px 64px
}

.icon-dowload {
    width: 16px;
    height: 16px;
    background-position: 0 0;
    position: relative;
    top: 1px;
    margin-right: 4px
}

.icon-arrow {
    width: 16px;
    height: 16px;
    background-position: 0 -16px
}

.star-main {
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -80.5px;
    width: 163px;
    height: 219px
}

.btn {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    background: none;
    border-radius: 3px
}

.btn-dowload {
    width: 125px;
    border: 1px solid #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -67.5px;
    padding: 4.5px 0;
    font-size: 15px;
    margin-top: -10px;
    top: 50%
}

.arrow {
    position: absolute;
    bottom: 6px;
    left: 50%;
    margin-left: -8px
}

.all-img {
    background-image: url("../../images/mobile/all.png");
    background-size: 550px 424px;
    background-repeat: no-repeat
}

.logo {
    background-position: 0 0;
    width: 43px;
    height: 35px
}

.logo-title {
    background-position: 0 -39px;
    width: 55px;
    height: 21px
}

.logo-all {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -28px
}

.iphone-mobile {
    background-position: 0 -198.5px;
    width: 163px;
    height: 219px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -80.5px
}

.star-01 {
    width: 33.5px;
    height: 39px;
    background-position: -281px 0
}

.star-02 {
    width: 34px;
    height: 39px;
    background-position: -314px 0
}

.star-03 {
    width: 44px;
    height: 47.5px;
    background-position: -348px 0
}

.start-03-1 {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    position: absolute;
    left: -48px;
    top: -38px
}

.star-01-1 {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    position: absolute;
    right: -31px;
    top: -34px
}

.star-03-2 {
    position: absolute;
    right: -15px;
    top: -83px
}

.star-02-1 {
    position: absolute;
    left: 5px;
    top: -66px
}

.star-02-2 {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    position: absolute;
    left: 45px;
    top: -81px
}

.star-02-4 {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    position: absolute;
    right: -55px;
    top: -69px
}

.left-house {
    width: 38px;
    height: 86px;
    background-position: -117.5px -113px
}

.right-house {
}

.screen2-main {
    position: absolute;
    bottom: -18px;
    left: 50%;
    margin-left: -143px
}

.earth-wrap {
    background-position: -61px 0px;
    width: 52.5px;
    height: 63px;
    position: relative;
    bottom: 16px
}

.earth {
    background-position: -64px -67px;
    width: 46px;
    height: 46px
}

.big-house {
    background-position: -117.5px -66px;
    width: 158px;
    height: 132.5px;
    margin: 0 12px;
    position: relative;
    bottom: -3px
}

.book {
    background-position: 0 -67px;
    width: 43px;
    height: 37.5px;
    position: relative;
    bottom: 0px
}

.sun {
    background-position: 0 -108.5px;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 12%;
    right: 8%
}

.left-cloud {
    background-position: -117.5px 0;
    width: 95px;
    height: 22px;
    position: absolute;
    top: 19%;
    left: -35px
}

.right-cloud {
    background-position: -117.5px -36px;
    width: 113.5px;
    height: 27px;
    position: absolute;
    top: 36%;
    right: -30px
}

.wd-list {
    overflow: hidden;
    width: 58px;
    position: absolute;
    top: 44px;
    left: 54px
}

.wd-list li {
    float: left;
    margin-right: 6px;
    margin-bottom: 1px
}

.wd-01 {
    width: 13px;
    height: 13px;
    background: #dda3ec
}

.wd-02 {
    width: 13px;
    height: 13px;
    background: #ffec86
}

.wd-03 {
    width: 13px;
    height: 13px;
    background: #b3ecff
}

.wd-04 {
    width: 13px;
    height: 13px;
    background: #ffbc86
}

.wd-05 {
    width: 13px;
    height: 13px;
    background: #94ff4c
}

.door {
    background: #f9cd48;
    width: 21px;
    height: 26px;
    position: absolute;
    bottom: 3px;
    left: 69px
}

.wd-list-left {
    overflow: hidden;
    position: absolute;
    bottom: 14px;
    left: 14px
}

.wd-list-right {
    overflow: hidden;
    position: absolute;
    bottom: 14px;
    right: 14px
}

.table-ft {
    width: 130.5px;
    height: 133px;
    background-position: -280px -291px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2
}

.table-rt {
    width: 136px;
    height: 133px;
    background-position: -412px -291px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2
}

.people-man {
    width: 131px;
    height: 87.5px;
    background-position: -281px -198.5px;
    position: absolute;
    top: -78px;
    left: 25px;
    z-index: 1
}

.people-wo {
    width: 83.5px;
    height: 87.5px;
    background-position: -411px -198.5px;
    position: absolute;
    top: -78px;
    right: 25px;
    z-index: 1
}

.left-slide {
    position: absolute;
    left: 0;
    top: 55%;
    right: 0;
    bottom: 0
}

.right-slide {
    position: absolute;
    right: 0;
    top: 65%
}

.an_1 {
    width: 25px;
    height: 25px;
    background-color: #efa16d;
    -webkit-border-radius: 12.5px/12.5px;
    border-radius: 12.5px/12.5px;
    position: absolute;
    left: -17px;
    bottom: -26px;
    -webkit-animation: disperse_i 2s linear 2s infinite;
    -moz-animation: disperse_i 2s linear 2s infinite;
    -ms-animation: disperse_i 2s linear 2s infinite;
    animation: disperse_i 2s linear 2s infinite;
    opacity: 0;
    -webkit-animation-fill-mode: forwards
}

.an_2 {
    width: 8px;
    height: 8px;
    background-color: #ef6d6d;
    -webkit-border-radius: 4px/4px;
    border-radius: 4px/4px;
    position: absolute;
    left: -2px;
    top: 1px;
    -webkit-animation: disperse_i 3s linear 0s infinite;
    -moz-animation: disperse_i 3s linear 0s infinite;
    -ms-animation: disperse_i 3s linear 0s infinite;
    animation: disperse_i 3s linear 0s infinite;
    opacity: 0;
    -webkit-animation-fill-mode: forwards
}

.an_3 {
    width: 18px;
    height: 18px;
    background-color: #c03ab8;
    -webkit-border-radius: 9px/9px;
    border-radius: 9px/9px;
    position: absolute;
    left: 23px;
    top: -22px -webkit-animation:disperse_i 7s linear 1s infinite;
    -moz-animation: disperse_i 7s linear 1s infinite;
    -ms-animation: disperse_i 7s linear 1s infinite;
    animation: disperse_i 7s linear 1s infinite;
    opacity: 0;
    -webkit-animation-fill-mode: forwards
}

.an_4 {
    width: 36px;
    height: 36px;
    background-color: #efcc6d;
    -webkit-border-radius: 18px/18px;
    border-radius: 18px/18px;
    position: absolute;
    right: 0px;
    top: -19px;
    -webkit-animation: disperse_i 8s linear 1.5s infinite;
    -moz-animation: disperse_i 8s linear 1.5s infinite;
    -ms-animation: disperse_i 8s linear 1.5s infinite;
    animation: disperse_i 8s linear 1.5s infinite;
    opacity: 0;
    -webkit-animation-fill-mode: forwards
}

.an_5 {
    width: 8px;
    height: 8px;
    background-color: #c03ab8;
    -webkit-border-radius: 4px/4px;
    border-radius: 4px/4px;
    position: absolute;
    left: 60px;
    bottom: -33px
}

.an_7 {
    width: 8px;
    height: 8px;
    background-color: #c03ab8;
    -webkit-border-radius: 4px/4px;
    border-radius: 4px/4px;
    position: absolute;
    left: 131px;
    bottom: -34px
}

.an_8 {
    width: 25px;
    height: 25px;
    background-color: #9b6def;
    -webkit-border-radius: 12.5px/12.5px;
    border-radius: 12.5px/12.5px;
    position: absolute;
    left: 182px;
    bottom: -56px;
    -webkit-animation: disperse_i 4s linear 0.3s infinite;
    -moz-animation: disperse_i 4s linear 0.3s infinite;
    -ms-animation: disperse_i 4s linear 0.3s infinite;
    animation: disperse_i 4s linear 0.3s infinite;
    opacity: 0;
    -webkit-animation-fill-mode: forwards
}

.an_9 {
    width: 25px;
    height: 25px;
    background-color: #ef6d6d;
    -webkit-border-radius: 12.5px/12.5px;
    border-radius: 12.5px/12.5px;
    position: absolute;
    left: 207px;
    bottom: -9px;
    -webkit-animation: disperse_i 3s linear 1s infinite;
    -moz-animation: disperse_i 3s linear 1s infinite;
    -ms-animation: disperse_i 3s linear 1s infinite;
    animation: disperse_i 3s linear 1s infinite;
    opacity: 0;
    -webkit-animation-fill-mode: forwards
}

.an_6 {
    width: 18px;
    height: 18px;
    background-color: #efcc6d;
    -webkit-border-radius: 9px/9px;
    border-radius: 9px/9px;
    position: absolute;
    left: 100px;
    bottom: -42px;
    -webkit-animation: disperse_i 7s linear 1s infinite;
    -moz-animation: disperse_i 7s linear 1s infinite;
    -ms-animation: disperse_i 7s linear 1s infinite;
    animation: disperse_i 7s linear 1s infinite;
    opacity: 0;
    -webkit-animation-fill-mode: forwards
}

.an_6-1 {
    width: 18px;
    height: 18px;
    background-color: #efcc6d;
    -webkit-border-radius: 9px/9px;
    border-radius: 9px/9px;
    position: absolute;
    left: 44px;
    top: -27px;
    -webkit-animation: disperse_i 7s linear 1s infinite;
    -moz-animation: disperse_i 7s linear 1s infinite;
    -ms-animation: disperse_i 7s linear 1s infinite;
    animation: disperse_i 7s linear 1s infinite;
    opacity: 0;
    -webkit-animation-fill-mode: forwards
}

.screen-road {
    width: 100%;
    background: url("../../images/mobile/road.png") repeat-x;
    background-size: 5px 156px;
    height: 156px;
    position: absolute;
    bottom: 0;
    z-index: 5
}

.screen-end {
    width: 100%;
    height: 156px;
    position: absolute;
    bottom: 0
}

.bank {
    width: 118.5px;
    height: 140.5px;
    background-position: -162px -206px;
    position: absolute;
    top: -113px;
    left: 5%;
    z-index: 6
}

.mon {
    width: 100%;
    background: url("../../images/mobile/mon.png") repeat-x;
    background-size: 320px 90px;
    height: 90px;
    position: absolute;
    top: -90px;
    z-index: 4
}

.tree {
    width: 35px;
    height: 72px;
    background-position: -281px -90px;
    position: absolute;
    right: 33%;
    top: -43px;
    z-index: 6
}

.line {
    width: 100%;
    background: url("../../images/mobile/line.png") repeat-x;
    background-size: 320px 5px;
    height: 5px;
    position: absolute;
    top: 67px;
    left: 0px;
    z-index: 6
}

.car {
    width: 112.5px;
    height: 70.5px;
    background-position: -163px -347px;
    position: absolute;
    bottom: 51px;
    right: 17%;
    z-index: 7
}

.yan {
    width: 19px;
    height: 22px;
    background-position: -257px 0;
    position: absolute;
    right: -19px;
    bottom: 11px;
    z-index: 7
}

.deng {
    width: 76px;
    height: 36px;
    background-position: -315px -161px;
    position: absolute;
    left: -70px;
    bottom: 2px;
    z-index: 7
}

.shanche {
    width: 158.5px;
    height: 163px;
    background-position: -392px 0;
    position: absolute;
    right: 1px;
    top: -163px;
    z-index: 7
}

.ballon {
    width: 66px;
    height: 80px;
    background-position: -315px -82px;
    position: absolute;
    top: -218px;
    left: -70px;
    z-index: 8
}

.mp_loading {
    background-color: #0e79ef !important
}
